main {
    padding: 20px;
    text-align: center;
    background-color: white;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007baf;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #005f8c;
  }
  
  footer {
    background-color: #dddddd;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
  }

  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
  }
  
  header {
    background-color: #c5050c;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 0 0 10px 10px;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #c5050c;
    border-radius: 5px;
  }
  
  nav li {
    margin: 10px;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 6px 12px;
    border-radius: 4px;
  }
  
  nav a:hover {
    background-color: #a00000;
  }
